body{
    background-color:#E5E5E5 ;
    font-family: 'Montserrat', sans-serif;
}
header{
   padding: 45px 30px;
}


.buttons{
    text-align: center;
    margin: auto;
    width: 25%;
    margin-top: 10%;
    
}
.button-start{
    width: 180px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    color: #E5E5E5;
    width: 100%;
    font-weight: 700;
    
    

}
.button-add-word{
    width: 180px;
    height: 67px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    width: 80%;
    margin-top: 5%;
   

}


@media screen  and (max-width:480px){
  .buttons{
      margin-top: 25%;
      width: 75%;
  }

    
}
